<table id="tbTotalCarrito">
				<tr>
					<td>Discount:</td>
					<td id="tdDiscount">$0</td>
				</tr>

				<tr>
					<td>SubTotal:</td>
					<td id="tdSubTotal">$0</td>
				</tr>

				<tr>
					<td>Sales Tax:</td>
					<td id="tdTax">13%</td>
				</tr>

				<tr>
					<td>Total:</td>
					<td id="tdTotal">$0</td>
				</tr>
</table>