<!DOCTYPE HTML>
<html>
    <head>
    </head>
<body>
<table>
  <tr>
    <td id="tabProducts">    
   
    <p id="resTitle">Thanks for your Purchase!!</p>
    <p>Your order will ship on the next carrier, this are your purchase details.</p>
    </td>

    <table class="tableResume">
        <tr>
            <td>Name :</td>
            <td></td>
        </tr>
        <tr>
            <td>Last Name :</td>
            <td></td>
        </tr>
        <tr>
           
            <td>Phone Number :</td>
            <td></td>
        </tr>
        <tr>
            <td>Address :</td>
            <td></td>
        </tr>
        <tr>
            <td>Country :</td>
            <td></td>
        </tr>
        <tr>
            <td>Credit Card Number :</td>
            <td></td>
        </tr>
        <tr>
            <td>Credit Card Code :</td>
            <td></td>
        </tr>
        <tr>
            <td>Sales Check Total :</td>
            <td></td>
        </tr>


    </table>
    <td id="tabCart">
        
    </td>
  </tr>
</table>

        <%= render 'popup' %>

</body>
</html> 