<div class="p_body js__p_body js__fadeout"></div>

<div class="popup js__popup js__slide_top">

<a href="#" class="p_close js__p_close" title="Close"></a>

<div class="p_content">

<table id="tbPopup">
	<tr>
		<td><img src="/assets/default.png" class="imgProducts imgDetails"/></td>
		<td rowspan="2">
		<p class="productTitle"></p>
		<hr></hr>
		<p class="productDetails">
		</p>
		 <hr></hr>
		 <p class="productPrice">
		</p>
		</td>
	</tr>
	<tr>
		<td><img src="/assets/frwr.png" height="45px" width="150px" onclick="addtoCart();"/></td>
	</tr>
</table>
</div>
</div>